/* body{
    background-image:url('{{ STATIC_URL }}img/bridge.jpg');
    background-repeat:no-repeat;
    background-size:100%;
} */

#banner{
    width: 100%;
    float: left;
}

#menu ul{
    list-style-type: none;
    overflow: hiddden;
    margin: 0;
}

#menu ul li{
    float: left;
}

#menu ul li a{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
